.new-expense {
    width: 50rem;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    background-color: #a892ee;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
    background-color: #400054;
    color: white;
    padding: 1rem;
    margin: 0.5rem auto;
    border-radius: 12px;
    border: none;
}